# Beginner's Python Cheat sheet

### Variables and Strings

variable are used to store values. A string is a series of characters, surrounded by single or doubel quotes

**1. Hello world**

In [ ]:
print("Hello World!")

Hello World!

**2. Hello world with a variable**

In [ ]:
msg = "Hello World!"
print(msg)

Hello World!

**3. Concatenation (combining strings)**

In [ ]:
first_name = 'albert'
last_name = 'einstein'
full_name = first_name + ' ' + last_name
print(full_name)

albert einstein

### Lists
A list stores a series of items in a particular order. You access items using an index, or within a loop.

**1. Make a list**

In [ ]:
bikes = ['trek', 'redline', 'giant']

**2. Get the first item in a list**

In [ ]:
first_bike = bikes[0]
print(first_bike)

trek

**3. Get the last item in a list**

In [ ]:
last_bike = bikes[-1]
print(last_bike)

giant

**4. Looking through a list**

In [ ]:
for bike in bikes:
    print(bike)

trek
redline
giant

**5. Adding items to a list**

In [ ]:
bikes = []
bikes.append('trek')
bikes.append('redline')
bikes.append('giant')
print(bikes)

['trek', 'redline', 'giant']

**6. Making numberical lists**

In [ ]:
squares = []
for x in range(1, 11):
  squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Lists (cont.)

**1. List comprehensions**

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**2. Slicing a list**

In [ ]:
finishers = ['sam', 'bob', 'ada', 'bea']
first_two = finishers[:2]
print(first_two)

['sam', 'bob']

**3. Copying a list**

In [ ]:
copy_of_bikes = bikes[:]
print(copy_of_bikes)

['trek', 'redline', 'giant']

### Tuples

**Truples are similar to lists. but the items in a tuple can't be modified**

In [ ]:
dimensions = (1920,1080)

### If statements

***1. Conditional tests***

* equals                       x == 42
* not equals                   x != 42
* greater than                 x > 42
* greater than or equal to     x >=42
* less than                    x < 42
* leas than or equral to       x <=42

***2. Conditional test with lists***

In [15]:
'trek' in bikes

True

In [16]:
'surly' not in bikes

True